
<div class="container-fluid">
  <div class="container">
    <header>
      <h1>KLIENTŲ ATSILIEPIMAI</h1>
    </header>
  </div>
  <div class="pagrindas">
    <div class="navi pt-3">
      <nav>
        <div class="row">
          <form class="form-inline my-2 my-lg-0 col-sm-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Paieška..." aria-label="Search">
            <i class="fas fa-search" alt=logo></i>

          </form>
          <div class="dropdown col-sm-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Specializacija
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="dropdown col-sm">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servisas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="dropdown col-sm">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Miestas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Kaunas</a>
              <a class="dropdown-item" href="#">Jonava</a>
              <a class="dropdown-item" href="#">Vilnius</a>
            </div>
          </div>
          <div class="dropdown col-sm">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lytis
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Vyras</a>
              <a class="dropdown-item" href="#">Moteris</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="dropdown col-sm">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reitingas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Mieste</a>
              <a class="dropdown-item" href="#">Rajone</a>
              <a class="dropdown-item" href="#">Šalyje</a>
            </div>
          </div>
      </nav>
    </div>
    <section class="mechanikai">
      <div class="media mt-1">
        <img src="meistras/images/servis1.jpg" class="mr-3" alt="1">
        <div class="media-body col-sm">
          <h5 class="mt-0">Vardenis Pavardenis</h5>
          <h5 class="mt-0">Kebulu meistras</h5>
          <h5 class="mt-0">Petro Servisas</h5>
          <h5 class="mt-0">Kaunas</h5>
        </div>
        <div class="text col-sm">
          <div class="row">
            <p>Reitingas: </p>
            <div class="stars col-sm">
              <li>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="far fa-star col-sm"></i></ul>
                <ul><p>(123)</p></ul>
              </li>
              <div class="hearth">
                <i class="fab fa-gratipay"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media mt-3">
        <img src="images/irena.jpg" class="mr-3" alt="...">
        <div class="media-body col-sm">
          <h5 class="mt-0">Vardenis Pavardenis</h5>
          <h5 class="mt-0">Kebulu meistras</h5>
          <h5 class="mt-0">Petro Servisas</h5>
          <h5 class="mt-0">Kaunas</h5>
        </div>
        <div class="text col-sm">
          <div class="row">
            <p>Reitingas: </p>
            <div class="stars col-sm">
              <li>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="far fa-star col-sm"></i></ul>
                <ul><p>(123)</p></ul>
              </li>
              <div class="hearth">
                <i class="fab fa-gratipay"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media mt-3">
        <img src="images/servis2.jpg" class="mr-3" alt="...">
        <div class="media-body col-sm">
          <h5 class="mt-0">Vardenis Pavardenis</h5>
          <h5 class="mt-0">Kebulu meistras</h5>
          <h5 class="mt-0">Petro Servisas</h5>
          <h5 class="mt-0">Kaunas</h5>
        </div>
        <div class="text col-sm">
          <div class="row">
            <p>Reitingas: </p>
            <div class="stars col-sm">
              <li>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="far fa-star col-sm"></i></ul>
                <ul><p>(123)</p></ul>
              </li>
              <div class="hearth">
                <i class="fab fa-gratipay"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media mt-3">
        <img src="images/servis3.jpg" class="mr-3" alt="...">
        <div class="media-body col-sm">
          <h5 class="mt-0">Vardenis Pavardenis</h5>
          <h5 class="mt-0">Kebulu meistras</h5>
          <h5 class="mt-0">Petro Servisas</h5>
          <h5 class="mt-0">Kaunas</h5>
        </div>
        <div class="text col-sm">
          <div class="row">
            <p>Reitingas: </p>
            <div class="stars col-sm">
              <li>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="fas fa-star col-sm"></i></ul>
                <ul><i class="far fa-star col-sm"></i></ul>
                <ul><p>(123)</p></ul>
              </li>
              <div class="hearth">
                <i class="fab fa-gratipay"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="ending pt-4">
    <footer>
      <h4>ŽINIATINKLIO PROGRAMUOTOJO EGZAMINO PRAKTINĖ UŽDUOTIS</h4>
    </footer>>
  </div>
</div>
<main>
  {{ page.content }}
</main>
